.autocomplete-dropdown {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    font-size: var(--font-size-normal);
}

.autocomplete-dropdown li {
    padding: 4px 8px;
    cursor: pointer;
}

.autocomplete-dropdown li.active, 
.autocomplete-dropdown li:hover {
    background-color: var(--background-modifier-hover);
}
